@import 'fonts';
@import 'browser';
@import 'overrides';
@import 'transitions';
@import 'splash';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: poppins, sans-serif;
    position: relative;
    background-color: #131822;
  }
}

#root {
  height: 100%;
}
