.ant-tabs {
  .ant-tabs-ink-bar {
    @apply !bg-v1-content-brand;
  }

  .ant-tabs-nav {
    @apply mb-0;
  }

  .ant-tabs-nav::before {
    @apply !border-b-v1-border-disabled;
  }

  .ant-tabs-tab {
    @apply grayscale;

    .ant-tabs-tab-btn {
      @apply !text-v1-content-primary;
    }

    &.ant-tabs-tab-active {
      @apply grayscale-0;
      .ant-tabs-tab-btn {
        @apply !text-v1-content-brand;
      }
    }
  }
}
