.content-wrapper .content {
  background-color: #212327;
  border-radius: 6px;
}

.content-wrapper .document-status .content,
.content-wrapper .document-status {
  background-color: #38393d !important;
}

.content-wrapper .popup {
  background-color: #212327 !important;
  border-radius: 6px;
}

.content-wrapper .error-message-popup .overlay {
  background: rgb(0 0 0 / 66%);
  border-radius: 6px;
}
.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5,
.content-wrapper h6,
.content-wrapper p,
.content-wrapper ul li,
.content-wrapper span {
  color: white !important;
}

.content-wrapper .tab,
.content-wrapper .radio-item,
.content-wrapper .tab > * {
  color: white !important;
}
.content-wrapper .tab.active,
.content-wrapper .tab.active > * {
  /* color: #13dff2 !important; */
}
.content-wrapper .tab-content {
  background-color: #03101c !important;
}
.content-wrapper .upload-payment-item .upload-item {
  background-color: #38393d;
}
.content-wrapper .upload-payment-item .upload-item input {
  background-color: #38393d;
}
.content-wrapper button:hover:not(:disabled):not(.disabled):not(:active) {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
.content-wrapper button.continue:hover:not(:disabled):not(:active) {
  box-shadow: none !important;
  /* background-color: white !important; */
  /* color: black !important; */
}
.content-wrapper button.submit:not(:disabled) > span {
  color: black !important;
}
.content-wrapper button.submit:hover:not(:disabled):not(:disabled) {
  /* background-color: #13dff2 !important; */
  /* color: white !important; */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
.content-wrapper .country-selector .list li.active,
.content-wrapper .country-selector .list li:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.content-wrapper .country-selector li.active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.content-wrapper .ident-step.process .fa {
  color: black;
}
.content-wrapper .ident-step.process {
  color: white;
}
.content-wrapper .country.filled,
.content-wrapper .country-selector .list,
.content-wrapper input.country {
  background-color: #38393d !important;
  color: white;
}
.content-wrapper .mobile-button {
  box-shadow: none !important;
  background-color: #38393d !important;
}
.content-wrapper .upload-item .drag-drop {
  background-color: #38393d !important;
}
.content-wrapper .upload-payment-item .upload-item {
  box-shadow: none !important;
}
.content-wrapper .fa-icon {
  fill: white;
}

.spinner-container {
  background-color: #212327;
}
