<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta
      name="description"
      content="Wisdomise is an AI-powered auto trading and portfolio management solution"
    />
    <meta name="theme-color" content="#131822" />

    <meta name="google-site-verification" content="r6P0e7DswJUxF9KqjPex_sIR7r1bZM4VD1YoAYuk7D4" />

    <% if(env === 'production') { %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTR43GF');</script>
    <% } %>

    <title>Wisdomise | Dashboard</title>
  </head>

  <body>
    <% if(env === 'production') { %>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTR43GF" height="0" width="0" style="display:none;visibility:hidden" title="googletagmanager"></iframe></noscript>
    <% } %>

    <div id="root"></div>
  </body>
</html>
