@font-face {
  font-family: inter;
  font-weight: 500;
  src: url(/fonts/InterMedium.otf);
}

@font-face {
  font-family: inter;
  font-weight: 700;
  src: url(/fonts/InterBold.otf);
}

@font-face {
  font-family: campton;
  font-weight: 500;
  src: url(/fonts/CamptonMedium.otf);
}

@font-face {
  font-family: campton;
  font-weight: 700;
  src: url(/fonts/CamptonBold.otf);
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 250;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Thin.woff) format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 250;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-ThinItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 275;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-ExtraLight.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 275;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-ExtraLightItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Light.woff) format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 300;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-LightItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Medium.woff) format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Regular.woff) format('woff');
}
@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 400;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Italic.woff) format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 500;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-MediumItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-SemiBold.woff) format('woff');
}
@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 600;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-SemiBoldItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Bold.woff) format('woff');
}
@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 700;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-BoldItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 800;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-ExtraBold.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 800;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-ExtraBoldItalic.woff)
      format('woff');
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 900;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-Black.woff) format('woff');
}
@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 900;
  src:
    local('Poppins'),
    url(https://fonts.cdnfonts.com/s/16009/Poppins-BlackItalic.woff)
      format('woff');
}

@tailwind base;

@layer base {
  body {
    font-family: poppins, sans-serif;
    position: relative;
    background-color: #131822;
  }
}

#root {
  height: 100%;
}

/* hide google captcha */
.grecaptcha-badge {
  display: none !important;
}

/* ANT */
.ant-modal-body {
  @apply bg-transparent p-0;
  background-color: transparent !important;
  padding: 0 !important;
}

.ant-progress-inner {
  border-radius: 0;
}

.ant-pagination-prev button,
.ant-pagination-next button,
.ant-pagination-jump-next,
.ant-pagination-jump-prev,
.ant-pagination-item {
  @apply !rounded-sm !border-none !bg-transparent !font-inter !font-bold !text-white;

  a,
  span {
    @apply !text-white !text-opacity-60;
  }

  &:hover {
    @apply !opacity-100;
    a,
    span {
      @apply !text-white;
    }
  }

  &.ant-pagination-item-active,
  &.active,
  &:active,
  &:focus {
    @apply !bg-gradient-to-r from-gradientFrom to-gradientTo !opacity-100;
    a,
    span {
      @apply !text-alt-primary;
    }
  }
}

.ant-pagination-disabled button {
  opacity: 0.3;

  &.active,
  &:hover,
  &:active,
  &:focus {
    @apply !bg-transparent;

    a,
    span {
      color: black !important;
    }
  }
}

.ant-btn.cancel-order {
  font-size: 12px;
  height: 32px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-dropdown {
  width: 100%;
}

.ant-dropdown-menu {
  padding: 0 !important;
  li {
    padding: 0 !important;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-nodata opacity-50;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @apply text-nodata opacity-50;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  @apply text-nodata opacity-50;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ant-notification-notice {
  @apply !rounded-3xl !bg-[#272A32] font-poppins !text-white;
}

.ant-notification-notice-message {
  @apply !mb-0 !text-white;
}

.ant-notification-notice-description {
  @apply mt-2 !text-white;
}

.ant-notification-notice-close {
  @apply !text-white;
}

#crisp-chatbox > div > a {
  @apply mobile:!hidden;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #666666 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 10px;
  border: 6px solid #131822;
}

.ant-popover-inner {
  @apply !px-4 !py-6 font-poppins;
  background-color: #272a32 !important;
}

.ant-popover-arrow::before {
  background-color: #272a32 !important;
}

#CookiebotWidget {
  bottom: 80px !important;
}

/* =================================== */

.slide-enter,
.slide-exit {
  transition:
    transform 100ms ease-out,
    opacity 300ms ease-in-out;
}

.slide-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit,
.slide-exit-active {
  transition: none !important;
  position: absolute !important;
  display: none !important;
  opacity: 0;
}
