@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "./browser.css";
@import "./overrides.css";
@import "./transitions.css";
@import "./splash.css";
@import "./theme.css";
@config '../../../../tailwind.config.js';
/*@plugin 'tailwind-scrollbar';*/

@layer base {
  body {
    @apply bg-v1-background-primary text-v1-content-primary relative;
  }
  html,
  body {
    @apply font-poppins scrollbar-thin;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#root {
  height: 100%;
}

[role="button"],
button {
  @apply cursor-pointer;
}

@media screen and (max-width: 740px) {
  :root {
    font-size: 15px;
  }
}

:root {
  --wcm-z-index: 1001;
}

.widgetsScroll {
  --os-size: 2px;
  --os-handle-bg: white;
  --os-handle-border-radius: 10px;
}

.text-gradient-to-black70 {
  background-image: linear-gradient(
    90deg,
    #fff 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  color: transparent;
  background-clip: text;
}
