@import 'fonts';
@import 'browser';
@import 'overrides';
@import 'transitions';
@import 'splash';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: poppins, sans-serif;
    position: relative;
    background-color: #131822;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#root {
  height: 100%;
}

:root {
  --wcm-z-index: 1001 !important;
}
