/* ANT */

.ant-picker-panel-container {
  .ant-picker-presets {
    min-height: 25rem !important;
  }
  @media (max-width: 800px) {
    overflow: scroll !important;
    height: 400px;
    .ant-picker-panel-layout {
      flex-direction: column !important;

      .ant-picker-presets {
        max-width: 100% !important;
        min-height: 10rem !important;
      }

      .ant-picker-panels,
      .ant-picker-datetime-panel {
        flex-direction: column !important;
      }
    }
  }
}

/*
* ************** Drawer *****************
*/
.ant-drawer-mask {
  @apply !bg-v1-surface-l2/20 backdrop-blur-sm;
}
.ant-drawer-wrapper-body {
  @apply !bg-v1-surface-l4;
}

/*
* ************** Modal ******************
*/

.ant-modal-mask {
  @apply !bg-v1-surface-l6/20 backdrop-blur-sm;
}

.ant-modal-body {
  @apply !bg-transparent !p-0;
}

.ant-modal-content {
  @apply overflow-hidden !bg-v1-surface-l2;
  border-radius: 10px !important;
  .anticon-close {
    color: white;
  }

  .intro-style & {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      border-radius: 10px;
      background: linear-gradient(227.11deg, #9747ff 0%, #141518 30.3%);
    }

    background: linear-gradient(260deg, #41226c 0%, #2d1f41 100%);
  }
}

.ant-modal {
  color: white;

  .ant-modal-header {
    @apply bg-transparent text-center;
  }
}

.ant-modal-wrap.fullscreen {
  .ant-modal {
    @apply top-0 m-0 h-screen !w-screen max-w-none p-0;
  }

  .ant-modal-content {
    @apply h-full !rounded-none p-0;
  }
}
/*
* ************** Steps ******************
*/
.ant-steps {
  .ant-steps-item-title {
    font-size: 13px;
    font-weight: 400;
  }
}

/*
* ************** Progress ******************
*/

.ant-progress-inner {
  border-radius: 0;
}

/*
* ************** Table ******************
*/

/* ------------------------------------------------- */

.ant-drawer {
  .ant-drawer-header-title {
    flex-direction: row-reverse;
  }
  .ant-drawer-close {
    margin: 0;
  }
  .ant-drawer-header {
    border-bottom: none;
  }
  .ant-drawer-body {
    @apply p-4;
  }
  .ant-drawer-content {
    @apply bg-page;
  }

  &.ant-drawer-bottom .ant-drawer-content {
    @apply rounded-t-3xl;
  }
}

.modal-drawer .ant-drawer-content {
  border-radius: 24px 24px 0 0;
  .ant-drawer-title {
    @apply text-center text-lg;
  }
}

/* ------------------------------------------------- */

.ant-btn.cancel-order {
  font-size: 12px;
  height: 32px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-dropdown {
  width: 100%;
}

.ant-dropdown-menu {
  padding: 0 !important;
  li {
    padding: 0 !important;
  }
}

/* ------------------------------------------------- */
.ant-picker {
  @apply rounded-xl bg-black/40 px-6;
  border: none !important;
}

.ant-picker-dropdown .ant-picker-panel {
  @apply !bg-black/20;
}
/* ------------------------------------------------- */
.ant-select-selector.ant-select-selector {
  @apply !h-auto rounded-xl !bg-black/40 !px-6 !py-2;

  .bg-transparent & {
    @apply !border-transparent !bg-transparent !shadow-none;
  }

  .ant-select-selection-search-input {
    @apply !h-full !pl-3;
  }
}
.ant-select-dropdown.ant-select-dropdown {
  @apply !bg-[#151619];

  .ant-select-item-option.ant-select-item-option {
    @apply h-auto py-2;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    @apply !bg-black;
  }
}
.no-padding .ant-select-selector.ant-select-selector {
  @apply !p-0;
}
/* ------------------------------------------------- */

.ant-notification-notice {
  @apply !rounded-xl !bg-[#272A32] !text-white;
}

.ant-notification-notice-message {
  @apply !mb-0 !text-white;
}

.ant-notification-notice-description {
  @apply mt-2 !text-white;
}

.ant-notification-notice-close {
  @apply !text-white;
}

/* ------------------------------------------------- */

.ant-popover-inner {
  @apply !px-4 !py-6;
  background-color: #272a32 !important;
}

.ant-popover-arrow::before {
  background-color: #272a32 !important;
}

/* ------------------------------------------------- */

.ant-carousel .slick-dots li {
  @apply mx-1.5 !w-auto;
}

.ant-carousel .slick-dots li.slick-active button {
  @apply bg-primary;
}

.ant-carousel .slick-dots li button {
  @apply h-3 w-3 rounded-full bg-nodata;
}

/* ------------------------------------------------- */

.ant-select-selector {
  @apply !border-none !bg-gray-dark !text-white;
}

.ant-select-selector::after {
  fill: #00fff0;
}

.ant-select-arrow {
  svg {
    fill: #fff !important;
    font-size: 13px !important;
  }
}

.ant-select-dropdown {
  @apply bg-gray-dark !text-white;
}
.ant-select-item,
.ant-select-selection-item {
  @apply !text-white;
}

.ant-select-item-option-selected {
  @apply !bg-black/30;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  @apply !bg-secondary;
}

/* ------------------------------------------------- */

.ant-spin-text {
  text-shadow: none !important;
}

/* ------------------------------------------------- */

.ant-switch {
  @apply !bg-white/20;

  &-handle::before {
    @apply !bg-[#1F242D];
  }

  &-checked {
    @apply !bg-success;
  }
}

/* ------------------------------------------------- */

.ant-tabs {
  @apply text-white;

  &-nav {
    @apply text-white/40 mobile:!-mx-6;

    &-list {
      @apply mobile:px-6;
    }
  }

  .ant-tabs-tab {
    @apply px-8 pb-3 pt-2 text-base mobile:px-2;

    + .ant-tabs-tab {
      @apply ml-3;
    }

    &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        @apply text-white;
      }
    }

    &:hover {
      @apply text-white/60;
    }
  }

  .ant-tabs-ink-bar {
    @apply bg-white;
  }

  &-top > .ant-tabs-nav::before {
    @apply border-b-white/10;
  }
}

/* ------------------------------------------------- */

.ant-tooltip {
  @apply text-xs;
}

/* hide google captcha */
.grecaptcha-badge {
  display: none !important;
}

div#CybotCookiebotDialog {
  z-index: 9998 !important;
}

#CookiebotWidget {
  display: none;
}

#hubspot-messages-iframe-container:not(.open) {
  @apply mobile:!hidden;
}
