.ant-table-wrapper {
  @apply w-full min-w-full max-w-full overflow-auto;

  /* base */
  .ant-table {
    @apply bg-transparent;
  }

  /* header */
  .ant-table-thead {
    .ant-table-cell {
      @apply whitespace-nowrap text-[0.9em] font-normal text-v1-content-secondary;

      &.ant-table-column-has-sorters:hover {
        @apply !bg-v1-surface-l2;
      }
    }

    .ant-table-column-sorters {
      @apply !flex-row-reverse justify-normal gap-1;

      .ant-table-column-title {
        @apply grow-0;
      }

      .ant-table-column-sorter {
        @apply !m-0 scale-90;
      }
    }
  }

  /* scroll shadows */
  .ant-table-ping-right:not(.ant-table-has-fix-right)
    .ant-table-container::after,
  .ant-table-ping-right .ant-table-cell-fix-right-first::after {
    @apply w-4 bg-gradient-to-r from-transparent to-black/20 !shadow-none;
  }
  .ant-table-ping-left:not(.ant-table-has-fix-left)
    .ant-table-container::before,
  .ant-table-ping-left .ant-table-cell-fix-left-last::after {
    @apply w-4 bg-gradient-to-l from-transparent to-black/20 !shadow-none;
  }

  /* header + even rows */
  .ant-table-thead .ant-table-cell,
  .ant-table-tbody .ant-table-row:nth-child(odd) .ant-table-cell,
  .ant-table-tbody .ant-table-row:nth-child(odd):hover .ant-table-cell {
    @apply border-b-0 bg-v1-surface-l3;
  }

  /* odd rows */
  .ant-table-row:nth-child(even) .ant-table-cell,
  .ant-table-row:nth-child(even):hover .ant-table-cell {
    @apply border-b-0 !bg-v1-surface-l2;
  }

  /* all rows */
  .ant-table-tbody .ant-table-row .ant-table-cell {
    @apply h-16 py-3 align-middle;

    > * {
      @apply align-middle;
    }
  }

  /* all td, ths */
  .ant-table-thead .ant-table-cell,
  .ant-table-tbody .ant-table-row .ant-table-cell {
    @apply px-4 mobile:px-3;
  }

  /* radius */
  .ant-table-thead .ant-table-cell:first-child {
    @apply rounded-l-lg rounded-r-none;
  }
  .ant-table-thead .ant-table-cell:last-child {
    @apply rounded-l-none rounded-r-lg;
  }
  .ant-table-tbody .ant-table-cell:first-child {
    @apply rounded-l-md rounded-r-none;
  }
  .ant-table-tbody .ant-table-cell:last-child {
    @apply rounded-l-none rounded-r-md;
  }

  /* disable column divider */
  th:before {
    @apply hidden;
  }

  /* pagination */
  .ant-pagination {
    @apply flex-nowrap items-center justify-start pt-4;

    .ant-pagination-item {
      @apply rounded-lg border-none bg-transparent leading-8 !text-v1-content-secondary;

      a {
        @apply text-inherit;
      }
    }

    .ant-pagination-jump-next-custom-icon {
      svg {
        @apply fill-v1-content-secondary;
      }
    }

    .ant-pagination-options {
      @apply flex grow justify-end;

      .ant-select {
        @apply rounded-lg bg-v1-surface-l4;

        .ant-select-selector {
          @apply !bg-transparent !px-4 !py-1;

          .ant-select-selection-item {
            @apply inline-flex items-center justify-center text-xs;
          }
        }
      }
    }

    .ant-pagination-item-active {
      @apply border-none bg-v1-surface-l4 font-normal;
      a {
        @apply text-v1-content-primary;
      }
    }
  }
}
