.ant-table-wrapper {
  @apply min-w-fit max-w-none overflow-visible;

  /* base */
  .ant-table {
    @apply bg-transparent;
  }

  /* header */
  .ant-table-thead {
    .ant-table-cell {
      @apply whitespace-nowrap text-[0.9em] font-normal text-v1-content-secondary;
    }
    .ant-table-column-has-sorters:hover {
      @apply !bg-v1-surface-l2;
    }
  }

  /* header + even rows */
  .ant-table-thead .ant-table-cell,
  .ant-table-tbody .ant-table-row:nth-child(even) .ant-table-cell,
  .ant-table-tbody .ant-table-row:nth-child(even):hover .ant-table-cell {
    @apply border-b-0 bg-v1-surface-l3;
  }

  /* odd rows */
  .ant-table-row:nth-child(odd) .ant-table-cell,
  .ant-table-row:nth-child(odd):hover .ant-table-cell {
    @apply border-b-0 !bg-transparent;
  }

  /* all rows */
  .ant-table-tbody .ant-table-row .ant-table-cell {
    @apply h-16 py-3 align-middle;

    > * {
      @apply align-middle;
    }
  }

  /* radius */
  .ant-table-thead .ant-table-cell:first-child {
    @apply rounded-l-lg rounded-r-none;
  }
  .ant-table-thead .ant-table-cell:last-child {
    @apply rounded-l-none rounded-r-lg;
  }
  .ant-table-tbody .ant-table-cell:first-child {
    @apply rounded-l-md rounded-r-none;
  }
  .ant-table-tbody .ant-table-cell:last-child {
    @apply rounded-l-none rounded-r-md;
  }

  /* disable column divider */
  th:before {
    @apply hidden;
  }

  /* pagination */
  .ant-pagination {
    @apply flex-nowrap items-center justify-start pt-4;

    .ant-pagination-item {
      @apply rounded-lg border-v1-border-tertiary bg-transparent;
    }

    .ant-pagination-options {
      @apply flex grow justify-end mobile:grow-0;

      .ant-select {
        @apply rounded-lg border border-v1-border-secondary;

        .ant-select-selector {
          @apply !bg-transparent !px-4 !py-1;

          .ant-select-selection-item {
            @apply inline-flex items-center justify-center text-xs;
          }
        }
      }
    }

    .ant-pagination-item-active {
      @apply border-none bg-v1-background-brand;
      a {
        @apply text-v1-content-primary;
      }
    }
  }
}

/* '[&:nth-child(even)]:bg-v1-surface-l3 [&:nth-child(odd)]:bg-transparent',
'[&_.ant-table-thead]:!bg-v1-surface-l3', */

/* .ant-table-wrapper {
  .ant-pagination {
    @apply items-center !justify-center text-xs mobile:!justify-start;

    :not(.ant-pagination-jump-next, .ant-pagination-jump-prev) {
      button,
      a {
        @apply p-2 leading-none text-white;
      }
    }

    .ant-pagination-item {
      @apply flex items-center justify-center;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      @apply flex items-center justify-center bg-black/30;

      & > svg {
        @apply h-3 w-3;
      }
    }

    .ant-pagination-item-active {
      @apply border-none bg-black/80;

      &:hover a {
        @apply text-white;
      }
    }
  }

  .ant-spin-container::after {
    background: black;
    @apply rounded-xl;
  }
  .ant-spin {
    @apply !static;
  }
}

.ant-table {
  @apply !bg-transparent p-4 !text-white mobile:!min-h-full;

  .ant-table-header {
    @apply mb-2;
  }

  &.ant-table-empty .ant-table-cell {
  }
}

.ant-table-thead {
  .ant-table-cell {
    @apply !border-b-0 !border-white/10 !bg-black/60 p-0 pb-4 text-xs !font-normal !text-white/40;

    &:first-child {
      @apply !rounded-ss-xl;
    }

    &:last-child {
      @apply !rounded-se-xl;
    }

    &:before {
      @apply hidden;
    }
  }

  .ant-table-column-sorters {
    .ant-table-column-sorter {
      @apply text-white/30;

      .anticon.active {
        @apply text-white/70;
      }
    }
    &:hover .ant-table-column-sorter {
      @apply text-white/50;
    }
  }

  .ant-table-cell-scrollbar {
    @apply !shadow-none;
  }
}

.ant-table-tbody {
  @apply bg-black/20;

  .ant-table-row {
    &:hover .ant-table-cell.ant-table-column-sort {
      @apply !bg-black/20;
    }

    .ant-table-cell {
      &.ant-table-column-sort {
        @apply bg-black/20;
      }
    }

    &:last-child {
      .ant-table-cell {
        @apply border-b-0;

        &.ant-table-column-sort {
          @apply bg-black/20;
        }

        &:first-child {
          @apply rounded-es-2xl;
        }
        &:last-child {
          @apply rounded-ee-2xl;
        }
      }
    }
  }
}

.ant-table-row {
  .ant-table-cell {
    @apply px-0 py-2 text-xs font-medium;
    @apply border-b !border-black/20;
  }

  &:hover > .ant-table-cell {
    @apply !bg-transparent;
    background: transparent !important;
  }
}

.ant-table-placeholder {
  @apply !bg-transparent;
  background: transparent !important;

  .ant-table-cell {
    @apply border-b-0;

    .ant-empty-description {
      @apply text-white/80;
    }
  }
}

.ant-table-expanded-row {
  > .ant-table-cell {
    @apply !border-none;
  }
} */
