.text-wsdm-gradient {
  @apply bg-gradient-to-tr from-[#00a3ff] to-[#ff00c7]  bg-clip-text text-transparent transition-colors duration-300;
}

.thinking span:before {
  animation: dots 2s linear infinite;
  content: '';
}

@keyframes dots {
  0%,
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  90%,
  100% {
    content: '';
  }
}

.real-time-data {
  background: #2df371;
  box-shadow: 0 0 5px #2df371;
  animation: realTimeData 1.5s infinite;
}

@keyframes realTimeData {
  0% {
    box-shadow: 0 0 2px #2df371;
  }
  100% {
    box-shadow: 0 0 6px #2df371;
  }
}
