@reference "tailwindcss";

.login-slides .swiper-pagination {
  /* -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  mask-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  @apply -bottom-1 pb-1 pt-10 backdrop-blur-[2px];
}
