@keyframes shake {
  0% {
    transform: rotate(0);
  }
  8% {
    transform: rotate(5deg);
  }
  16% {
    transform: rotate(-5deg);
  }
  24% {
    transform: rotate(4deg);
  }
  32% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(2deg);
  }
  45% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
