@import "../../styling/index.scss";

.secondaryFormContainer {
  max-width: 448px;
  padding: 2rem;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "inter", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transform: translateY(calc(50vh - 50%));
  background-image: linear-gradient(
    to bottom left,
    rgba(13, 31, 49, 0.8),
    rgba(13, 31, 49, 0.6),
    rgba(3, 16, 28)
  );
}

.welcome {
  font-family: "campton", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 52px;

  b {
    font-weight: 700;
  }
}

.secondaryForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &:not(.fieldWrapper:last-of-type) {
    margin-top: 2rem;
    // margin-top: 0;
  }
}

.fieldLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 0.5rem;

  & > span {
    opacity: 0.6;
  }
}

.fieldInput {
  background: #000;
  background-blend-mode: color;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.fieldError {
  margin-top: 0.25rem;
  color: #ff3459;
  font-weight: 500;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkboxLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.checkbox {
  margin-right: 0.5rem;
}

.checkboxLink {
  color: #00a3ff;
}

.submitBtn {
  width: 100%;
  margin-top: 2rem;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 60vw;
  overflow: hidden;
  padding: 20px;
  background: #261e30;
  border-radius: 0.25rem;
  color: #fff;
  font-family: "inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  @include respond-to("small") {
    width: 90vw;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  padding: 1rem;
}

.modalBody {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  position: relative;
  padding-bottom: 5rem;

  @include respond-to("small") {
    padding-left: 0;
    padding-right: 0;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 105;
  }
}

.modalFooter {
  padding: 0.5rem 4rem;
  margin-top: -7rem;
  height: 8rem;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(0deg, #261e30 50%, rgba(0, 0, 0, 0));
  position: static;
  z-index: 105;

  div {
    width: 100%;
  }

  @include respond-to("small") {
    padding: 0.5rem 1rem;
  }
}
