@font-face {
  font-family: inter;
  font-weight: 500;
  src: url(/fonts/InterMedium.otf);
}

@font-face {
  font-family: inter;
  font-weight: 700;
  src: url(/fonts/InterBold.otf);
}

@font-face {
  font-family: campton;
  font-weight: 500;
  src: url(/fonts/CamptonMedium.otf);
}

@font-face {
  font-family: campton;
  font-weight: 700;
  src: url(/fonts/CamptonBold.otf);
}

@font-face {
  font-family: poppins;
  font-weight: 100;
  src: url(/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: poppins;
  font-weight: 300;
  src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins;
  font-weight: 500;
  src: url(/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins;
  font-weight: 600;
  src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins;
  font-weight: 700;
  src: url(/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins;
  font-weight: 800;
  src: url(/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: poppins;
  font-weight: 900;
  src: url(/fonts/Poppins-Black.ttf);
}

#root {
  height: 100%;
}

/* hide google captcha */
.grecaptcha-badge {
  display: none;
}

/* ANT */
.ant-modal-body {
  @apply bg-transparent p-0;
  background-color: transparent !important;
  padding: 0 !important;
}

.ant-progress-inner {
  border-radius: 0;
}

.ant-pagination-prev button,
.ant-pagination-next button,
.ant-pagination-jump-next,
.ant-pagination-jump-prev,
.ant-pagination-item {
  @apply !rounded-sm !border-none !bg-transparent !font-inter !font-bold !text-white;

  a,
  span {
    @apply !text-white !text-opacity-60;
  }

  &:hover {
    @apply !opacity-100;
    a,
    span {
      @apply !text-white;
    }
  }

  &.ant-pagination-item-active,
  &.active,
  &:active,
  &:focus {
    @apply !bg-gradient-to-r from-gradientFrom to-gradientTo !opacity-100;
    a,
    span {
      @apply !text-alt-primary;
    }
  }
}

.ant-pagination-disabled button {
  opacity: 0.3;

  &.active,
  &:hover,
  &:active,
  &:focus {
    @apply !bg-transparent;

    a,
    span {
      color: black !important;
    }
  }
}

.ant-btn.cancel-order {
  font-size: 12px;
  height: 32px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-dropdown {
  width: 100%;
}

.ant-dropdown-menu {
  padding: 0 !important;
  li {
    padding: 0 !important;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-nodata opacity-50;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @apply text-nodata opacity-50;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  @apply text-nodata opacity-50;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
