@reference "../../base/styles/App.css";

.brand-spinner {
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-spinner div {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.brand-spinner div:nth-child(1) {
  width: 100%;
  height: 100%;
  @apply text-v1-content-brand border-v1-border-brand;
  border-width: 0.2em 0.2em 0 0;
  --deg: -45deg;
  animation-direction: normal;
}

.brand-spinner div:nth-child(2) {
  width: 70%;
  height: 70%;
  color: #e26cff;
  border-color: #e26cff #e26cff transparent transparent;
  border-width: 0.2em 0 0 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.brand-spinner div span {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.brand-spinner div span::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow:
    0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
