@reference "#index.css";

.brand-spinner {
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-spinner div {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 1s linear infinite;
}

.brand-spinner div:nth-child(1) {
  width: 100%;
  height: 100%;
  @apply text-v1-content-brand border-v1-border-brand;
  border-width: 0.2em 0.2em 0 0;
  --deg: -45deg;
  animation-direction: normal;
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
