name: Deploy to S3 (Staging)

on:
  push:
  workflow_dispatch:

env:
  github-cicd-role: arn:aws:iam::398880522319:role/github-cicd-goatx-front
  region: us-east-1
  s3-bucket: stage.goatx.trade

permissions:
  id-token: write
  actions: read
  packages: read
  contents: read

jobs:
  Lint-Build-Stage:
    name: Lint-Build-Stage
    if: ${{ !contains(github.event.head_commit.message, 'ci-skip') }}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0
          submodules: recursive

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.github-cicd-role }}
          aws-region: ${{ env.region }}

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: |-
          python3 -m pipx install awscli
          yarn install --production=false

      # - name: Run linter and prettier
      #   run: |-
      #     npx tsc && \
      #     yarn lint && \
      #     npx prettier --check . && \
      #     yarn i18n --fail-on-update --fail-on-warnings

      # - name: Run Sonar Qube
      #   uses: sonarsource/sonarqube-scan-action@master
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # - name: Sonar Gate
      #   uses: sonarsource/sonarqube-quality-gate-action@master
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build
        env:
          VITE_BRANCH: ${{ github.ref_name }}
        run: |-
          export NODE_OPTIONS=--max-old-space-size=8192
          yarn build:dev

      - name: Upload to S3
        run: |
          aws s3 cp --recursive dist/ s3://${{ env.s3-bucket }}/${{ github.ref_name }}/
          git branch -r --format='%(refname:short)' | sed -e "s#^origin##" > branches.txt
          aws s3 cp branches.txt s3://${{ env.s3-bucket }}/branches.txt
