name: Deploy to S3 (Production)
on:
  push:
    branches: [main]

jobs:
  Lint-Build-Prod:
    name: Lint-Build-Prod
    if: ${{ !contains(github.event.head_commit.message, 'ci-skip') }}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0
          submodules: recursive

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: |-
          python3 -m pipx install awscli
          yarn install --production=false

#      - name: Run linter and prettier
#        run: |-
#          npx tsc && \
#          yarn lint && \
#          npx prettier --check . && \
#          yarn i18n --fail-on-update --fail-on-warnings

      # - name: Run Sonar Qube
      #   uses: sonarsource/sonarqube-scan-action@master
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # - name: Sonar Gate
      #   uses: sonarsource/sonarqube-quality-gate-action@master
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build
        run: |-
          export NODE_OPTIONS=--max-old-space-size=8192
          yarn build:prod
          find dist | grep -E ".*\.map$" | tr '\n' '\0' | xargs -0 -n1 rm -rf

      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp --recursive dist/ s3://app.wisdomise.com/
          ./scripts/cleanup-bucket.sh app.wisdomise.com

  notify-slack:
    runs-on: ubuntu-latest
    needs: Lint-Build-Prod
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - uses: act10ns/slack@v1
        if: always()
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: '#alert-production'
          message: >-
            Deploy Dashboard: ${{ github.event.head_commit.message }}.
