name: Deploy to EKS
on: 
  push:
    branches: [stage]

jobs:
  lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci-skip')"
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run prettier
        run: |-
          npm install --global yarn
          yarn install --production=false
          npx tsc && yarn lint && npx prettier --check .

  test:
    needs: lint
    if: "!contains(github.event.head_commit.message, 'ci-skip')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: run test
        run: |
          echo "Please Write your Test HERE"
      # - uses: actions/checkout@v3
      # - name: Use Node.js ${{ matrix.node-version }}
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: ${{ matrix.node-version }}
      # - run: sudo npm install
      # - run: sudo npm install --global mocha
      # - run: sudo npm install --global ts-node
      # - run: sudo npm install --global tsconfig-paths
      # - run: sudo env NODE_ENV='test' DEBUG="horos-dashboard*" AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} KMS_KEY=${{ secrets.KMS_KEY }} USER_POOL_ID=${{ secrets.USER_POOL_ID }} USER_TEST_EMAIL=${{ secrets.USER_TEST_EMAIL }} USER_TEST_PASSWORD=${{ secrets.USER_TEST_PASSWORD }} COGNITO_CLIENT_ID=${{ secrets.COGNITO_CLIENT_ID }} TEST_BINANCE_API_KEY=${{ secrets.TEST_BINANCE_API_KEY }} TEST_BINANCE_API_SECRET=${{ secrets.TEST_BINANCE_API_SECRET }} GOOGLE_APPLICATION_CREDENTIALS='./config/googleCaptcha.json' DEVELOP=${{ secrets.DEVELOP }} MONGODB_NAME=${{ secrets.MONGODB_NAME }} MONGODB_PASSWORD=${{ secrets.MONGODB_PASSWORD }} mocha -r /usr/local/lib/node_modules/ts-node/register -r /usr/local/lib/node_modules/tsconfig-paths/register 'test/*.ts' --timeout 20000 --exit  

  Code-Style:
    name: Code-Style
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  Container_Scan:
    if: "!contains(github.event.head_commit.message, 'ci-skip')"
    runs-on: ubuntu-latest
    needs: Code-Style
    permissions:
      actions: read
      packages: write
      contents: read
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Dockerfile
      run: |
        docker build -f development.Dockerfile -t tmp/image:vulntest .

    - name: Show Vulns
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'tmp/image:vulntest'
        format: 'table'
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'
        exit-code: 0
    
    - name: Run Trivy vulnerability scanner And Save Reports
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'tmp/image:vulntest'
        format: 'table'
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'
        exit-code: 0
        output: 'trivy-results-${{ github.event.repository.name }}.tbl'

    - name: Archive Security Result Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ScanResultFor-${{ github.event.repository.name }}
        path: |
          trivy-results-${{ github.event.repository.name }}.tbl
          
    - name: Upload to S3 artifact folder
      uses: medlypharmacy/s3-artifacts-action@master
      with:
        aws_access_key_id: ${{ secrets.TRIVY_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.TRIVY_SECRET_ACCESS_KEY  }}
        aws_s3_bucket_name: ${{ secrets.TRIVY_BUCKET }}
        source_path: 'trivy-results-${{ github.event.repository.name }}.tbl'
        destination_path: "/${{ github.event.repository.name }}"
        exclude_repo_from_destination_path: true
        # resource_type: "DIRECTORY"  

  build-and-push:
    if: "!contains(github.event.head_commit.message, 'ci-skip')"
    runs-on: ubuntu-latest
    needs: Container_Scan
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
    - name: Docker meta
      id: metadata
      uses: docker/metadata-action@v4
      with:
        images: 619433764862.dkr.ecr.us-east-1.amazonaws.com/horos-dashboard
        tags: |
          # minimal (short sha)
          type=sha
          # full length sha
          type=sha,format=long
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::619433764862:role/github-actions
        aws-region: us-east-1
    - name: Login to Amazon ECR
      id: ecr
      uses: aws-actions/amazon-ecr-login@v1
    - uses: int128/create-ecr-repository-action@v1
      id: ecr-cache
      with:
        repository: horos-dashboard/cache
    - name: Checkout
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.PAT_TOKEN }}
    - uses: int128/kaniko-action@v1
      id: kaniko
      with:
        push: true
        file: ./development.Dockerfile
        tags: ${{ steps.metadata.outputs.tags }}
        labels: ${{ steps.metadata.outputs.labels }}
        cache: true
        cache-repository: ${{ steps.ecr-cache.outputs.repository-uri }}
    - name: Bump Image
      shell: bash
      run: |
        cd ./.github/workflows/manifests/stage/
        kustomize edit set image horos-dashboard=619433764862.dkr.ecr.us-east-1.amazonaws.com/horos-dashboard@${{ steps.kaniko.outputs.digest }}
        cat kustomization.yml
    - name: Pull Remote Changes
      run: git pull
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Deploying horos-dashboard [ci-skip]
        