name: Deploy to Cryptalyst S3 (Staging)
on:
  workflow_dispatch:
  push:
    branches: [cryptalyst-stage]

jobs:
  Lint-Build-Stage:
    name: Lint-Build-Stage
    if: ${{ !contains(github.event.head_commit.message, 'ci-skip') }}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Install dependencies
        run: |-
          python3 -m pipx install awscli
          yarn install --production=false

      # - name: Run linter and prettier
      #   run: |-
      #     npx tsc && \
      #     yarn lint && \
      #     npx prettier --check . && \
      #     yarn i18n --fail-on-update --fail-on-warnings

      # - name: Run Sonar Qube
      #   uses: sonarsource/sonarqube-scan-action@master
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # - name: Sonar Gate
      #   uses: sonarsource/sonarqube-quality-gate-action@master
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build
        env:
          VITE_BRANCH: ${{ github.ref_name }}
        run: |-
          export NODE_OPTIONS=--max-old-space-size=8192
          yarn build:dev

      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp --recursive dist/ s3://stage-mirage.wisdomise.com/
